/*
**Document colors:**
Default Blue
#0962C1
Dark Purple
#3C006E
Primary Blue
#4091FF
Primary Red
#FF405F

Default Smash (gradient)
top left: Primary Red
bottom right: Primary Blue
45 degrees
*/

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html, body {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  margin: 0;
  height: 100%;
}

body {

}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

p {
}

header {
  /* background-image: url(../assets/SSBUGradient.png); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  height: 100%;
}
header #logo {
  position: absolute;
  top: 40%;
  left: 25%;
  width: 50%;
  margin: 0 auto;
}
header #scrolly {
  position: absolute;
  bottom: 10%;
  left: calc(50% - 20px);
  filter: invert(1);
  margin: 0 auto;
  width: 40px;
  cursor: pointer;
}
header img#background {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  -webkit-mask-image: -webkit-gradient(
    linear, right top, right bottom,
    color-stop(0.00,  rgba(0,0,0,1)),
    color-stop(0.35,  rgba(0,0,0,1)),
    color-stop(0.50,  rgba(0,0,0,1)),
    color-stop(0.65,  rgba(0,0,0,1)),
    color-stop(1.00,  rgba(0,0,0,0)));
}

main .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(#3c006e00, #3C006E), linear-gradient(-45deg, #4091FF, #FF405F);
  z-index: -2;
}

.nav {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  position: fixed;
  background: linear-gradient(#00000050, #00000000);
  width: 100%;
  z-index: 1;
}
.nav li {
  display: inline-block;
  vertical-align: middle;
}

.button {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #0962C1;
  background-color: white;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  text-align: center;
  display: block;
  width: 8em;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

hr {
  width: 40px;
  height: 5px;
  background-color: #fff;
  border: none;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}



.content {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
}

.page {
  height: auto;
  padding: 120px 0px;
  margin: 0 auto;
}
.page img {
  transform: scaleX(-1);
}

.right-content {
  float: right;
  text-align: left;
}
/* .right-content hr {
  margin-left: 0;
} */

.left-content {
  float: left;
  text-align: right;
}

.right-content img, .left-content img {
  max-width: 100%;
  max-height: 60vh;
  margin: 0 auto;
}

.right-content > div, .left-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .right-content > div {
    float: right;
    text-align: right;
  }
  .right-content * {
    float: right;
  }
  .right-content h1 {
    float: none;
  }
  .left-content > div {
    float: left;
    text-align: left;
  }
  .left-content * {
    float: left;
  }
  .left-content h1 {
    float: none;
  }
.right-content p, .right-content h2, .left-content p, .left-content h2 {
  width: 100%;
}
/* .left-content hr {
  margin-right: 0;
} */

.center-content {
  text-align: center;
}
.center-content hr {
  margin: auto;
}

.footer {
  padding: 20px 0px;
  height: auto;
}

.elem {
  display: inline-block;
  margin: 0 20px;
  height: inherit;
  vertical-align: middle;
}

.col-50 {
  width: 50%;
}
.col-40 {
  width: 40%;
}
.col-20 {
  width: 20%;
}
.elem img {
  width: 100%;
}
.elem ul {
  list-style-type: none;
  padding-left: 0;
}

#scrolly {
  transition: transform .5s;
  transition: filter .5s;
}

#scrolly:hover {
  transform: translateY(-2px);
  filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.2)), invert(1);
}

.logo {
  width: 20%;
  height: auto;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.characterimage {
  width: 100%;
  transform: scaleX(-1);

}

#about {

}

#calendar {

}

#social {

}
#social ul {
  list-style-type: none;
  padding-left: 0;
  white-space: nowrap;
  width: 50%;
  margin: 0 auto;
}
#social li {
  display: inline-block;
  width: calc(100% / 4);
  padding: 10px;
}
#social img {
  max-width: 100%;
}
  #social a {
    transition: tranform .5s;
    transition: filter .5s;
  }
  #social a:hover {
    transform: translateY(-5px);
    filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.2));
  }

@media only screen and (max-width: 650px) {
  .col-50 {
    width: 100%;
  }
  section > div {
    margin-bottom: 20vh;
  }
  section {
    display: unset;
  }
}
