/*preliminary styles*/

:root {
	--site-width: 1200px;
	--side-padding: 30px;
	--nav-background-color: rgba(240, 245, 255, 0.9);
	--nav-height: 3rem;

	--accent-color: #3fb2ff;
	--accent-hover-color: #34495e;

	--themeBlueDark: #094268;
    --themeBlueLight: #255779;

	--vw: 1vw;
    --fontSize-title : 50px;
	color: rgba(0, 0, 0, 0.9);
	font-family: 'Poppins', 'Open Sans', sans-serif;
}
body {
  padding: 0px;
  margin: 0px;
  background-color: black;
}

h2 {
	text-shadow: 0 0 4px white;
}

/*common styles*/
.content-section {
  padding: 30px;
}
.content-section .content-child {
  max-width: 1150px;
  margin: 100px auto;
}
.row-split {
  display: flex;
}
.row-split > .lside, .row-split > .rside {
  width: 50%;
}
/*specific styles*/


/*nav-bar*/
.nav-bar {
  max-width: var(--site-width);
  width: 100%;
  height: 60px;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: white;
  z-index: 999;
}
.nav-bar .logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar > a {
  width: 100px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}
.nav-bar .logo img {
  height: 30px;
}


/*hero*/
.content-section.hero {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
}
.hero .overlay {
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero .overlay > video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .1;
}
.hero .overlay > .color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--themeBlueLight),var(--themeBlueDark));
  opacity: .2;
}
.hero .logo {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  position: absolute;
  max-width: var(--site-width);
  width: 100%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .logo > img {
	filter: brightness(130%);
  height: 14vw;
}
.hero .logo > label {
  color: white;
  margin-top: 15px;
  font-size: 4vw;
  font-weight: 500;
}
.hero .content {
  left: 0;
  right: 0;
  max-width: var(--site-width);
  margin: 0 auto;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
  z-index: 12;
  color: white;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.hero .content h4, .hero .content p {
  font-size: 16px;
  margin: 0px 0px;
}
.hero .content p {
	font-weight: 100;
}
.hero .content .dateline {
  margin-bottom: 20px;
}
.hero .content .rside {
  display: flex;
  align-items: center;
}
.hero .content .rside > div {
  margin-left: auto;
}
.hero .content .signup-box {
  position: relative;
  font-size: 16px;
  margin-top: 20px;
  color: white;
  padding: 10px 30px;
  background: linear-gradient(30deg, var(--themeBlueLight),var(--themeBlueDark));
  overflow: hidden;
}
.hero .content .signup-box input, .hero .content .signup-box button {
  font-family: 'Poppins', 'Open Sans', sans-serif;
  color: white;
  background-color: transparent;
  font-size: 16px;
  outline: none;
  border: none;
  box-shadow: none;
}
.hero .content .signup-box input::placeholder {
  color: white;
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-weight: 300;
}
.hero .content .signup-box input {
  width: calc(100% - 40px);
}
.hero .content .signup-box button {
  cursor: pointer;
  width: 40px;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background-color: rgba(255,255,255,.2);
}



/*about section*/
.content-section.about {
  color: white;
  background: linear-gradient(30deg, var(--themeBlueLight),var(--themeBlueDark));
}
.about h2 {
  max-width: 800px;
  font-size: var(--fontSize-title);
}
.about p {
  max-width: 800px;
}

/*faq*/
.content-section.faq {
  color: white;
  background-color: black;
}
.faq .title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-size: var(--fontSize-title);
}
.faq .drawer-row {
  margin-left: -20px;
  margin-right: -20px;
  justify-content: space-between;
}
.faq details {
  position: relative;
  font-size: 25px;
  max-width: 500px;
  font-weight: 500;
  transition: height .2s;
  padding: 20px 0px;
  user-select: none;
}
.faq details > div {
  font-size: 16px;
  font-weight: 400;
  max-width: 90%;s
}
.faq summary{
  cursor: pointer;
  outline:none;
}
.faq details summary::-webkit-details-marker {
  float: right;
}
.faq details > div {
	animation: DetailsOpen 0.5s linear;
}
.faq details[open] > summary + * {
	margin-top: 0.5em;
	animation-direction: reverse;
}
@keyframes DetailsOpen {
	from { overflow: hidden; max-height: 100vh }
	to { overflow: hidden; max-height: 0; opacity: 0 }
}

/*schedule section*/
.content-section.schedule {
  background: linear-gradient(30deg, var(--themeBlueLight),var(--themeBlueDark));
}
.schedule-visualizer {
  padding: 50px;
}
.schedule-visualizer .event-name {
  color: white;
  font-weight: 700;
  font-size: 35px;
}
#schedTime {
  color: #eee!important;
  margin-right: 20px;
}
.schedule-visualizer .details {
  font-size: 20px;
  color: white;
  margin-top: 40px;
}
.schedule-visualizer .details .detail {
  margin: 10px 0px;
  display: flex;
}
.schedule-visualizer .details .detail i {
  margin-top: 4px;
  width: 20px;
  text-align: center;
}
.schedule-visualizer .details .detail span {
  margin-left: 1em;
}
.schedule-visualizer .details .info {
  font-size: 80%;
}
.schedule-visualizer .timeline {
  position: relative;
  height: 200px;
}
.schedule-visualizer .timeline .line {
  position: absolute;
  width: 100%;
  top: 50%;
  height: 3px;
  transform: skewY(-10deg);
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.schedule-visualizer .timeline .line div {
  transform: skewY(10deg);
  font-weight: 500;
  color: white;
  margin-top: 20px;
  font-size: 20px;
}
.controller {
  margin-left: auto;
  padding: 30px;
  max-width: 400px;
  box-sizing: border-box;
}
.controller > div {
  border-radius: 4px;
  box-sizing: border-box;
  padding: 50px;
  height: 100%;
  color: white;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.controller > div > div {
  font-size: 20px;
  list-style-type: none;
  display: flex;
  cursor: pointer;
}
.controller .time {
  width: 100px;
}
.controller .title {
  margin-left: auto;
  font-weight: 700;
}


/*sponsors*/
.sponsors {
  padding: 0px;
  height: 100vh;
}
.sponsors .rside {
  background-color: white;
}
.sponsors .static {
  color: white;
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  align-items: center;
}
.sponsors .static div {
  width: 500px;
  padding: 30px;
}
.sponsors .scroll {
  padding: 50px;
  box-sizing: border-box;
}
.sponsors .scroll img {
  width: 50%;
  display: block;
  margin: 50px auto;
}
