:root {
  font-family: 'Roboto', Fallback, sans-serif;
}

* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right bottom, rgb(255, 64, 95), rgb(64, 145, 255));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.panel {
  background-color: white;
  margin-top: 5px;
  margin: 0 auto;
  width: 90%;
  padding-top: 10px;
  min-height: 100%;
}
  .panel > h1 {
    padding: 10px;
  }

#attendees-list {

}
  .header {
    width: 100%;
  }
  #attendees-list summary, #attendees-list .header {
    width: 100%;
    padding-left: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
  }
  #attendees-list summary ul, #attendees-list .header ul {
    padding: 5px;
    width: calc(100% - 1.2em);
    margin: 0;
    display: inline-block;
    word-wrap: break-word
  }
  #attendees-list summary li, #attendees-list .header li {
    display: inline-block;
    list-style-type: none;
  }
  #attendees-list summary li:nth-child(1), #attendees-list .header li:nth-child(1) {
    width: 15%;
  }
  #attendees-list summary li:nth-child(2), #attendees-list .header li:nth-child(2) {
    width: 20%;
  }
  #attendees-list summary li:nth-child(3), #attendees-list .header li:nth-child(3) {
    width: 20%;
  }
  #attendees-list summary li:nth-child(4), #attendees-list .header li:nth-child(4) {
    width: 30%;
  }
  #attendees-list summary li:nth-child(5), #attendees-list .header li:nth-child(5) {
    width: calc(15% - 1.2em);
  }
  #attendees-list .header {
    font-weight: bold;
  }
  #attendees-list summary {
    outline: none;
  }
  #attendees-list summary::-webkit-details-marker {
    display: none;
  }
    #attendees-list summary:after {
      display: none;
      content: '';
      border: solid;
      border-width: 0 0.2em 0.2em 0;
      font-size: 0.66em;
      width: 1em;
      height: 1em;
      transform: translateX(-0.3536em) rotate(-45deg);
      transition: transform 0.3s;
      cursor: pointer;
    }

    details[open] > summary {
      background-color: rgb(77, 184, 255);
      color: white;
    }

    details[open] > summary:after {
      display: none;
      transform: translateY(-0.3536em) rotate(45deg);
    }

    #attendees-list details[open] > summary + * {
    	animation: DetailsOpen 0.5s linear;
    	animation-direction: reverse;
    }

    @keyframes DetailsOpen {
        from {
            overflow: hidden;
            max-height: 100vh
        }

        to {
            overflow: hidden;
            max-height: 0;
            opacity: 0
        }
    }

.attendees-details {
  padding: 10px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}
  .attendees-details ul {
    margin: 0;
    vertical-align: top;
    padding: 0.2em;
    width: calc(100% / 3 - 0.2em);
    display: inline-block;
    font-weight: 300;
  }
  .attendees-details li {
    width: 100%;
    display: block;
    list-style-type: none;
    padding: .2em;
  }
